<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.html') %>
</head>
<body>
    <%- include('partials/navigation.html') %>

    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="myphoto">
                            <figure class="image is-3by2">
                                <img src="img/f2.jpg" alt="foto2">
                            </figure>
                        </div>
                    </div>
                    <div class="column">
                    <div class="presentation">
                    <p class="titlehero">Hello, I'm Sabrina.</p>
                    <h2 class="title2">[ Welcome to Flash studio ] <span class="icon">
                    <i class="fa-solid fa-camera-retro"></i>
                    </span></h2>
                    <p class="subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quo, laboriosam nostrum facilis consectetur doloribus quasi repudiandae quas quae assumenda iusto vel debitis nobis earum, eaque eveniet commodi impedit voluptates maiores, aperiam voluptate rem odit dolorem unde.
                    </p>
                    <p class="subtitle2">
                    Consectetur adipisicing elit. Molestias odit cupiditate delectus dolorem doloremque et rem consectetur dolorum rerum nisi! Culpa molestias facilis adipisci libero repellat quo veniam quaerat quis!    
                    </p>
                    </div>
                    </div>      
                </div>
            </div>
</section>

<section class="album">
    <div class="container">
        <div class="title-album">
            <h2>Photobook</h2>
        </div>
           
    </div> 
</section>
</body>
</html>
    