<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head.html') %>
  </head>
  <body>
    <%- include('partials/navigation.html') %>

    <div class="container .is-max-widescreen" id="container-upload">
        <div class="box" id="box-post">
          <form action="/upload" method="POST" enctype="multipart/form-data" class="form-post">
          <div class="field">  
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input form-control" type="text" placeholder="Titulo" name="title"/>
          </div>
        </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="input form-control" placeholder="Descripcion" name="description"></textarea>
            </div>
          </div>
          <label class="file-label">
            <input class="file-input" type="file" name="image"/>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label"> elige tu imag… </span>
            </span>
          </label>
        </div>
        <div class="field">
          <div class="control">
            <button type="submit"  class="button form-button">Upload</button>
          </div>
        </div>
        </form>
      
      </div>
    </div>

     
  </body>
</html>
