
  <footer class="footer" id="footer">
    <div class="content has-text-right">
      <p>
        <strong>Flash studio</strong><a href="#"></a>
      </p>
    </div>
      <div class="socials">
        <ul>
        <li><i class="fa-brands fa-linkedin"><a href=""></a></i> linkedin</li>
        <li><i class="fa-solid fa-envelope"></i><a href=""></a> Flashstudio@email.com</li>
        <li><i class="fa-solid fa-mobile"></i><a href=""></a> +5558724573</li>
        </ul>
      </div>
  </footer>
  <footer class="footer-bottom">
    <div class="copy">
    <p> © Copyright 2023, Flash studio.</p>
    </div>
  </footer>

